<h1>Carrito</h1>
<a href="/products" class="seeProducts">VER PRODUCTOS</a>
<div class="emptyCartContainer"><button id="emptyCartBtn">Vaciar carrito</button></div>

<div class="homeTableContainer">
  <table class="homeTable">
    <thead>
      <tr>
        <th>
          Producto
        </th>
        <th>
          Código
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Precio
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.cart.products}}
        <tr>
          <td>{{this.product.title}}</td>
          <td>{{this.product.code}}</td>
          <td>{{this.quantity}}</td>
          <td>${{this.product.price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="purchaseContainer">
    <h4>Total del carrito: ${{total}}</h4>
    <button class="purchaseCartBtn" id="purchaseBtn">Comprar</button>
  </div>
</div>

<script src="/static/js/cart.js"></script>