{{! prettier-ignore }}
<div class="accountData">
  <p>Bienvenido, {{name}} {{lastName}}</p>
  <p>{{email}}</p>
  <p>Edad: {{age}}</p>
  {{#if admin}}
    <p>Rol: ADMIN</p>
  {{/if}}
  {{#if premium}}
    <p>Usuario PREMIUM</p>
  {{/if}}
  <a href="/logout" class="logoutA"><button
      class="logoutBtn"
    >Cerrar sesión</button></a>
</div>
<h1>Productos disponibles</h1>
<h2>Página: {{products.page}}/{{products.totalPages}}</h2>
<a href="/cart/" class="link">VER CARRITO</a>
<a href="/profile/" class="link">VER PERFIL</a>
  {{#if admin}}
<a href="/manageproducts/" class="manageProducts">ADMIN: Gestionar productos</a>
  {{/if}}
  {{#if premium}}
<a href="/manageproducts/" class="manageProducts">PREMIUM: Gestionar productos</a>
  {{/if}}
{{! prettier-ignore }}
<div class="homeTableContainer">
  <table class="homeTable">
    <thead>
      <tr>
        <th>
          Producto
        </th>
        <th>
          Código
        </th>
        <th>
          Categoría
        </th>
        <th>
          Stock
        </th>
        <th>
          Precio
        </th>
        <th>
          Carrito
        </th>
      </tr>
    </thead>
    {{! prettier-ignore }}
    <tbody>
      {{#each products.payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.price}}</td>

          <td><a onclick="addProductToCart('{{../cart}}','{{this._id}}')">Agregar
              al carrito</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="buttonsDiv">
  <a class="pageBtn" href={{products.prevLink}}>Página anterior</a>
  <a class="pageBtn" href={{products.nextLink}}>Página siguiente</a>
</div>

<script src="/static/js/index.js"></script>