<h1>Productos disponibles</h1>
<h2>Página: {{products.page}}/{{products.totalPages}}</h2>
<a
  href="http://localhost:8080/cart/647fa06e21c39367194b8470"
  class="seeCart"
>VER CARRITO</a>
<div class="homeTableContainer">
  <table class="homeTable">
    <thead>
      <tr>
        <th>
          Producto
        </th>
        <th>
          Código
        </th>
        <th>
          Categoría
        </th>
        <th>
          Stock
        </th>
        <th>
          Precio
        </th>
        <th>
          Carrito
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each products.payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.price}}</td>
          <td><a
              onclick="addProductToCart('647fa06e21c39367194b8470','{{this._id}}')"
            >Agregar al carrito</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="buttonsDiv">
  <a class="pageBtn" href={{products.prevLink}}>Página anterior</a>
  <a class="pageBtn" href={{products.nextLink}}>Página siguiente</a>
</div>

<script src="/static/js/index.js"></script>