<div class="mainContainer">
  <div class="addProductContainer">
    <form id="addProductForm">
      <h3>Agregar producto...</h3>
      <input type="text" name="title" placeholder="Nombre..." id="title" />
      <input
        type="text"
        name="description"
        placeholder="Descripción..."
        id="description"
      />
      <input type="number" name="price" placeholder="Precio..." id="number" />
      <input
        type="text"
        name="thumbnail"
        placeholder="Thumbnail..."
        id="thumbnail"
      />
      <input type="text" name="code" placeholder="Código..." id="code" />
      <input type="number" name="stock" placeholder="Stock..." id="stock" />
      <input
        type="text"
        name="category"
        placeholder="Categoría..."
        id="category"
      />
      <button id="addProductBtn">Agregar producto</button>
    </form>
  </div>
  <div class="homeTableContainer">
    <table class="homeTable">
      <thead>
        <tr>
          <th>
            Producto
          </th>
          <th>
            Código
          </th>
          <th>
            Categoría
          </th>
          <th>
            Stock
          </th>
          <th>
            Precio
          </th>
          <th>
            Carrito
          </th>
        </tr>
      </thead>
      {{! prettier-ignore }}
      <tbody>
      {{#each products.payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.code}}</td>
          <td>{{this.category}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.price}}</td>

          <td>Agregar
              al carrito</td>
        </tr>
      {{/each}}
    </tbody>
    </table>
  </div>
</div>

<script src="/static/js/manageproducts.js"></script>